# Project Config
#-------------------------
.vscode
.vs

# PSX SDevTC Output
#-------------------------
*.[Oo][Bb][Jj]
*.[Ll][Ii][Bb]
*.[Bb][Ii][Nn]
*.[Cc][Pp][Ee]
*.[Ee][Xx][Ee]
*.[Mm][Aa][Pp]
*.[Ss][Yy][Mm]

# MSVC Win32 Output
#-------------------------
*.[Oo][Bb][Jj]
*.[Ll][Ii][Bb]
*.[Ee][Xx][Ee]
*.[Dd][Ll][Ll]
*.[Pp][Dd][Bb]

# IDA Database
#-------------------------
*.i64
*.id[0-9]
*.idb
*.nam
*.til

# GCL Bytecode
#-------------------------
*.[Gg][Cc][Xx]

# Excludes
#-------------------------
backup/
disasm/*/*
work/cdrom.img/*

# Includes
#-------------------------
!.gitkeep
!disasm/*/.md5sum
